.jumbotron {
 background:url('http://www.etbridalandtuxedo.com/s/cc_images/cache_4101372519.jpg');
 height: 500px;
 background-repeat: no-repeat;
 background-size: auto;
 margin-top: 5rem;
 }
 
 .jumbotron container {
 position: relative;
 top: 100px;
 }
 
